<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="VSCodeJava" Version="1.0.0.0" Manufacturer="" UpgradeCode="ed2a3815-00ea-4181-b190-ecba4e69959c">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

		<Chain>
			<!-- TODO: Define the list of chained packages. -->
			<!-- <MsiPackage SourceFile="path\to\your.msi" /> -->
      <ExePackage SourceFile="VSCodeSetup-x64-1.33.0.exe" />
      
      <MsiPackage SourceFile="OpenJDK8U-jdk_x64_windows_hotspot_8u202b08.msi" />
        
		</Chain>
	</Bundle>
</Wix>
